// Fonts and Colors

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.otf') format('opentype');
};

@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url('../fonts/Montserrat-Bold.otf') format('opentype');
};
