// Layout for Main View

$font-stack: 'Montserrat', sans-serif;

// Colors
$black: #595d61;
$gray: #c8cacb;
$dark-gray: #959595;
$red: #d56151;

// General style
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

.container {
  width: 90%;
  max-width: 1050px;
  min-width: 390px;
}

button {
  border: none;
  background:  #fff;
  text-transform: uppercase;
}
// Header styling

header {
  border-bottom: 1px  solid $gray;
}

header h1 {
  padding: 80px 0 64px 0;
  font-weight: 700;
  letter-spacing: -3px;
  text-transform: uppercase;
  color: $black;
}

.highlight {
  color: $red;
}

header h4 {
  color: $dark-gray;
  text-transform: uppercase;
  padding: 16px 0;
  margin-bottom: 14px;
  font-size:  12px;
}

.dropdown {
  display: inline-block;
  width: 50%;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-right: -4px;
  position: relative;
  color: $dark-gray;
}

.dropdown-toggle {
  line-height: 23px;
}
.sub-dropdown:hover .sub-menu, .range-dropdown:hover .range-menu {
  cursor: pointer;
}

.dropdown-menu {
  width: 100%;
  position: absolute;
  display: none;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.dropdown-item, .dropdown-toggle {
  text-align: center;
  width: 100%;
  padding: 8px 0;
  font-size: 12px;
  background: #fff;
}

.dropdown-item:hover, .dropdown-toggle:hover {
  background: #f9f9f9;
}

.dropdown-text {
  line-height: 20px;
  margin-left: 15px;
  display: inline-block;
  position: relative;
  top: -2px;
}

.caret-custom {
  background-image: url('../images/down-gray-chevron.png');
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height:11px;
  width: 18.33px;
  margin-left: 15px;
  position: relative;
  top: -2px;
}

.icon {
  background-image: url('../images/sprites/dropdown-sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 100%;
  position: relative;
  top: 3.5px;
}

li .icon {
  top:3px;
}

.soccerIcon {
  background-position: 0 0;
}

.basketballIcon {
  background-position: 0 -40px;
}

.clockIcon {
 background-position: 0 -20px;
}
