// Layout for Main View

$font-stack: 'Montserrat', sans-serif;

// Colors
$black: #000;
$gray: #808283;
$red: #d56151;

// General style
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}

.container {
  width: 90%;
  max-width: 1000px;
}

button {
  border: none;
  background:  #fff;
  text-transform: uppercase;
}
// Header styling

header {
  border-bottom: 1px  solid $gray;
}

header h1 {
  padding: 80px 0;
  font-weight: bold;
  text-transform: uppercase;
  color: $black;
}

.highlight {
  color: $red;
}

header h4 {
  color: $gray;
  text-transform: uppercase;
  padding-bottom: 16px 0;
  margin-bottom: 14px;
  font-size:  12px;
}

.dropdown {
  display: inline-block;
  width: 50%;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-right: -4px;
  position: relative;
  color: $gray;
}

.sub-dropdown:hover .sub-menu, .range-dropdown:hover .range-menu {
  display: block;
  cursor: pointer;
}

.dropdown-menu {
  width: 100%;
  position: absolute;
  display: none;
  text-transform: uppercase;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
}

.dropdown-item, .dropdown-toggle {
  text-align: center;
  width: 100%;
  padding: 16px 0;
  font-size: 12px;
  line-height: 1;
  background: #fff;
}

.dropdown-item:hover, .dropdown-toggle:hover {
  background: #f9f9f9;
}
