// Colors
$black: #595d61;
$gray: #c8cacb;
$dark-gray: #959595;
$red: #d56151;


// General

.post {
  padding: 60px 0;
  border-bottom: 1px solid $gray;
}
// Metadata Layout

.video-number {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  width:60px;
  vertical-align: text-top;
  line-height: 1;
  color: $gray;
  float: left;
  margin: 0 15px 20px 0;
}

.post-title {
  font-size: 1.2em;
  min-height: 70px;
  font-weight: 400;
  line-height: 25px;
  color: $black;
}

.post-date {
  color: $gray;
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  min-width: 66.875px;
  margin: 0 16px 30px 75px;
}

.video-number .hash {
  font-size: 35px;
}

.post-date, .comment-link {
  font-size: 12px;
}

.comment-link {
  color: #28a1d9;
}
// Video Layout

.video-container {
  position: relative;
  overflow: hidden;
}

.video-container:after {
  content: '';
  display: block;
  margin-bottom: -5px;
}

video {
  width:  100%;
  z-index: -1;
}

video:hover {
  cursor: pointer;
}

.mask {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.2));
   z-index: 100;
}


.mask:hover {
  cursor: pointer;
}

.mask-off {
  display: none;
}

.play-button {
  width: 10%;
  background: $red;
  border-radius: 50%;
}

.play-button:after {
  content:"";
  display: block;
  padding-bottom: 100%;
}
