// Colors
$black: #000;
$gray: #808283;
$red: #d56151;


// General

.post {
  padding: 60px 0;
}
// Metadata Layout

.video-number {
  display: inline-block;
  font-size: 3em;
  vertical-align: text-top;
  line-height: 1em;
}

.post-title {
  font-size: 1.2em;
  display: inline-block;
}

.details {
  margin-bottom: 15px;
}

// Video Layout

video {
  width:  100%;
}
