<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="topFiveReduxApp" ng-controller="MainCtrl" ng-init="refreshGifs('soccer','today')">

  <div class="container">
    <header>
      <h1>high<span class="highlight">lites</span></h1>
      <h4>quick highlights from your favorite sports</h4>
      <nav>
        <div class="dropdown sub-dropdown">
          <button class="dropdown-toggle">{{subDropdown.selected.text}}<span class="caret"></span></button>
          <ul class="dropdown-menu sub-menu">
            <li class="dropdown-item" ng-repeat="sub in subDropdown.options" ng-click="subDropdown.changeSub(sub,$index)">{{sub.text}}</li>
          </ul>
        </div>
        <div class="dropdown range-dropdown">
          <button class="dropdown-toggle">{{rangeDropdown.selected.text}}<span class="caret"></span></button>
          <ul class="dropdown-menu range-menu">
            <li class="dropdown-item" ng-repeat="range in rangeDropdown.options" ng-click="rangeDropdown.changeSub(range,$index)">{{range.text}}</li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
  <!-- <div class="container-fluid underline" id="container">
    <header>
      <div class="title col-xs-12">
        <h1>high<span class="red-text">lites</span></h1>
      </div>
      <div class="row">
        <div class="info col-xs-12 col-sm-8 grey-text">
          <h4>Quick highlights from your favorite sports</h4>
        </div>
        <div class="dropdown col-xs-4 col-sm-2">
          <button class="btn btn-default dropdown-toggle grey-text" type="button" id="subreddit-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{subDropdown.selected.text}}<span class="caret icon-right"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="subreddit-dropdown">
            <li ng-repeat="sub in subDropdown.options" ng-click="subDropdown.changeSub(sub,$index)"><a>{{sub.text}}</a></li>
          </ul>
        </div>
        <div class="dropdown col-xs-4 col-sm-2">
          <button class="btn btn-default dropdown-toggle grey-text" type="button" id="date-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{rangeDropdown.selected.text}}<span class="caret icon-right"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="date-dropdown">
            <li ng-repeat="range in rangeDropdown.options" ng-click="rangeDropdown.changeSub(range,$index)"><a>{{range.text}}</a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </header>
  </div> -->

    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- <div ng-view=""></div> -->



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/redditservice.js"></script>
        <!-- endbuild -->
</body>
</html>
