<div class="post" ng-repeat="post in gifs">
  <div class="meta-info">
    <p class="video-number"><span class="hash">#</span>{{post.counter}}</p>
    <h2 class="post-title">{{post.data.title}}</h2>
    <p class="post-date">{{post.postMonth}}/{{post.postDay}}/{{post.postYear}}</p>
    <a class="comment-link" ng-href='{{post.commentLink}}' target="_blank"><span class="link-text">{{post.data.num_comments}} Comments</span><span class="new-tab-icon"></span></a>
  </div>
  <div class="video-container" ng-click="togglePlay($index)">
    <div class="mask" id="mask{{$index}}"><div class="play-button"><div class="triangle-right"></div></div></div>
    <video id="video{{$index}}" loop="loop" preload="none" poster='{{post.thumbnail}}'>
      <source ng-src='{{trustSrc(post.videoSource)}}' type='video/mp4'>
    </video>
  </div>
  <div class="clearfix"></div>
</div>
<div class="message {{messageVis}}">Dang, looks like there's nothing to watch. Try another sport or time range.</div>
